@model User
@{
    ViewData["Title"] = "Profile";

}
@inject IHttpContextAccessor HttpContextAccessor;
@{
    string email = HttpContextAccessor.HttpContext.Session.GetString("Email") ?? "";
}
@if (email.Length == 0)
{
    <script type="text/javascript">
        alert("Please login first");
        window.location.href = "../Home/Login";
    </script>
}
<br>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label">Id</label>
                <input asp-for="UserId" class="form-control" value="@ViewBag.user.UserId" readonly="readonly" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" value="@ViewBag.user.Email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label">Tên đầy đủ</label>
                <input asp-for="Username" class="form-control" value="@ViewBag.user.Username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label">Mật khẩu</label>
                <input type="password" asp-for="Password" class="form-control" value="@ViewBag.user.Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label">Role(<span style="color:red">*</span>)</label>
                <select class="form-control" name="Role">
                    @if (@ViewBag.user.Role.Equals("Teacher"))
                    {
                        <option value="Teacher" selected>Teacher</option>
                        <option value="Student">Student</option>
                    }
                    @if (@ViewBag.user.Role.Equals("Student"))
                    {
                        <option value="Teacher">Teacher</option>
                        <option value="Student" selected>Student</option>
                    }
                    @if (@ViewBag.user.Role.Equals("Admin"))
                    {
                        <option value="Admin" selected>Admin</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Cập nhật thông tin" class="btn btn-primary" style="width:100%;margin-top:5px" />
            </div>
        </form>
    </div>
</div>
